* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapid {
    height: 50%;
    width: 100%;
}

.backImg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile {
    width: 400px;
}

.img1 {
    height: 250px;
    border-radius: 70%;
}